*{
     padding:0;
     margin:0;
     box-sizing:border-box;
     font-family:gilroy;
}
html,
body{
height: 100%;
width: 100%;
}
body{
    background: lightseagreen;
    display: flex;
    align-items: center;
    justify-content: center;
}
#containor
{
    height: 400px;
    width: 350px;
    border-radius: 10px;
    background-color: white;
    position: relative;
    overflow: hidden;

}
#containor img{
    height: 100%;
    width: 100%;

    object-fit: cover;
    object-position: center;
    
}
#containor i{
   color: white;
    font-size: 70px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    opacity: 0;
    transition: transform 0.5s;
}